body {
    font-family: 'Roboto', serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.navbar-brand {
    font-family: 'Roboto', serif;
    color: var(--primary-color, #630404);
    font-size: 1.2rem;
}

.navbar {
    background-color: var(--navbar-bg-color, #ffffff);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}


.login-button {
    background-color: #630404;
    color: white;
    font-size: 0.9rem;
    padding: 8px 20px;
    border-radius: 16px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #955e5e;
}


.nav-item{
    font-size: medium;
}

.navbar-toggler {
    border: none;
    font-size: 2rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}


.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: var(--primary-color, #630404) ;
    font-weight: 400;
}




/* hero */

.hero-section {
    background: url(../images/hero-bg.JPG) no-repeat center center;
    background-size: cover;
    width: 100%;
}


.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.d-flex {
    height: 100vh;
}

.hero-section h1 {
    font-size: 1.5rem;
}

.hero-section p {
    font-size: 1rem;
}

.call-to-action {
    background-color: #ffffff;
    color: #000000;
    font-size: small;
    padding: 8px 20px;
    border-radius: 16px;
    text-decoration: none;
    transition: 0.3s;
}



/* mission */
.mission-content {
    padding: 50px;
}
/* cards */

.cards {
    background-color: var(--primary-color, #630404);
}

.card {
    padding: 15px;
}

.card-button {
    background-color: var(--primary-color, #630404);
    color: white;
    font-size: 0.9px;
    padding: 8px 20px;
    border-radius: 16px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.card-button:hover {
    background-color: #955e5e;
}

/* about me */
/* about sevices */
.services-box {
    padding: 40px;
    border: 5px solid var(--dark-color);
}

.icon {
    color: var(--primary-color, #630404);
}

/* Contact */
.contact-form {
    border: 2px solid var(--primary-color, #630404);
    padding: 40px ;
}



/* Fooeter */

.footer {

}

.footer a {
    font-size: 0.9rem;
    color: black;
    padding-left: 10px;
    transition: color 0.3s;
}

i:hover {
    background-color: #955e5e;
}

/* Media Queries */
@media (max-width: 575.98px) {
    .hero-section h1 {
        font-size: 1.2rem;
    }

    .hero-section p {
        font-size: 0.9rem;
    }
}
@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
        .hero-section h1 {
        font-size: 1.4rem;
    }

    .hero-section p {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .hero-section h1 {
        font-size: 1.8rem;
    }
    .hero-section p {
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px) {
    .hero-section h1 {
    font-size: 2rem;
    }
}

.hero-section p {
    font-size: 1.2rem;
}


@media (min-width: 1400px) {
    
}